{% extends '::base.html.twig' %}

{% block body -%}
   
<form action="{{ path('annonce_update',{'id':entity.id} ) }}" method="POST" {{ form_enctype(edit_form) }}>
    <input type="hidden" name="_method" value="PUT">
    {{ form_row(edit_form.titre) }}<br/>
    {{ form_row(edit_form.description) }}<br/>
    {{ form_row(edit_form.prix) }}<br/>
    {{ form_row(edit_form.active) }}<br/>
    {{ form_row(edit_form.telephone) }}<br/>
    {{ form_row(edit_form.afficheTelephone) }}<br/>
    {{ form_row(edit_form.email) }}<br/>
    {{ form_row(edit_form.categorie) }}<br/>
    {{ form_row(edit_form.utilisateur) }}<br/>
    
    {{ form_row(edit_form.images) }}<br/>

    {{ form_rest(edit_form) }}
</form>

<script type="text/javascript">
  $(document).ready(function() {
    // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
    var $container = $('div#annonces_sitebundle_annonce_images');

    // On ajoute un lien pour ajouter une nouvelle catégorie
    var $addLink = $('<a href="#" id="add_category" class="btn btn-default">Ajouter une image</a>');
    $container.append($addLink);

    // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
    $addLink.click(function(e) {
      addImage($container);
      e.preventDefault(); // évite qu'un # apparaisse dans l'URL
      return false;
    });

    // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
    var index = $container.find(':input').length;
    

    // On ajoute un premier champ automatiquement s'il n'en existe pas déjà un (cas d'une nouvelle annonce par exemple).
    if (index == 0) {
      //addImage($container);
    } else {
      // Pour chaque catégorie déjà existante, on ajoute un lien de suppression
     /* $container.children('div').each(function() {
        addDeleteLink($(this));
      });*/
    }

    // La fonction qui ajoute un formulaire Categorie
    function addImage($container) {
      // Dans le contenu de l'attribut « data-prototype », on remplace :
      // - le texte "__name__label__" qu'il contient par le label du champ
      // - le texte "__name__" qu'il contient par le numéro du champ
      
      var $prototype = $($container.attr('data-prototype').replace(/__name__label__/g, 'Image n°' + (index+1)).replace(/__name__/g, index));
    
       $image=$('<img src="{{asset(entity.images[0].webPath)}}"  />');
       $prototype.append($image);
     

      // On ajoute au prototype un lien pour pouvoir supprimer la catégorie
      addDeleteLink($prototype);

      // On ajoute le prototype modifié à la fin de la balise <div>
      $container.append($prototype);

      // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
      index++;
    }

    // La fonction qui ajoute un lien de suppression d'une catégorie
    function addDeleteLink($prototype) {
      // Création du lien
      $deleteLink = $('<a href="#" class="btn btn-danger">Supprimer</a>');

      // Ajout du lien
      $prototype.append($deleteLink);

      // Ajout du listener sur le clic du lien
      $deleteLink.click(function(e) {
        $prototype.remove();
        e.preventDefault(); // évite qu'un # apparaisse dans l'URL
        return false;
      });
    }
  });
</script>

<ul class="record_actions">
    <li>
        <a href="{{ path('annonce') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
