{% extends '::base.html.twig' %}


{% block body %}
<div id="banner-wrapper">
                    <div id="banner" class="box container">
                        <div class="row">
                            <div class="12u">
                                
                               
                                {{ include('AnnoncesSiteBundle:Annonce:form.html.twig', {'form': filterForm}) }}
      
                                  <br/>
                                  <table class="table table-striped">
                                      <thead>
                                        <tr>
                                             <th>Titre :</th>
                                            <th>Prix :</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        {% for entity in entities %}
                                         <tr>
                                             <td>{{ entity.titre }}</td>
                                             <td>{{ entity.prix | number_format(2, '.', ',')}} €</td>
                                         </tr>
                                         {% endfor %}
                                      </tbody>
                                    </table>

                                {{ include('AnnoncesSiteBundle:Annonce:navigation.html.twig', {'routeName': 'annonce', 'pager': pager}) }}
                            </div>
                            
                        </div>
                    </div>
</div>

 <!-- 
<div id="main-wrapper">
    <div class="container">
                        <div class="row">
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    {% for entity in entities %}
                                        <div class="swiper-slide">
                                              <div class="row">
                                                   <div class="4u">
                                                               {% if entity.images|length > 0 %}
                                                                     <a href="#" ><img src="{{asset(entity.images[0].webPath) | imagine_filter('meduim_thumb')  }}" /></a>
                                                               {% endif %}
                                                    </div>
                                                     <div class="8u">
                                                                <div class="inner">
                                                                    <header>
                                                                        <h2>Titre :{{ entity.titre }} </h2>
                                                                        <p>Prix : {{ entity.prix | number_format(2, '.', ',')}} €</p>
                                                                    </header>
                                                                    <p> {{ entity.description }} </p>
                                                                </div>
                                                    </div>
                                                </div>    
                                        </div>

                                    {% endfor %}
                                    
                                    
                                </div>
                               
                                <div class="swiper-pagination"></div>
                               
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>
                        </div>
    </div>
</div>

 -->


  <script>
      /*  var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        paginationClickable: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        spaceBetween: 30
    }); */



</script>   
  
        

<!--

    <h1>Annonce list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Date</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Active</th>
                <th>Telephone</th>
                <th>Affichetelephone</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('annonce_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.titre }}</td>
                <td>{% if entity.date %}{{ entity.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.prix }}</td>
                <td>{{ entity.active }}</td>
                <td>{{ entity.telephone }}</td>
                <td>{{ entity.afficheTelephone }}</td>
                <td>{{ entity.email }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('annonce_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('annonce_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('annonce_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
-->

 
{% endblock %}
